* {
	box-sizing: border-box;
}

body {
	font-family: 'Koh Santepheap', cursive;
	background-color: #dfdfdf;
}

@media (min-width: 468px) {
	.container {
		display: grid;
		grid-template-rows: 5% 85% 10%;
		grid-template-areas:
			'header'
			'cards'
			'footer';
	}
}

.my--header {
	grid-area: header;
	text-align: center;
}

.cards {
	grid-area: cards;

	margin: 2rem;

	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

h1,
h2 {
	margin: 0.5rem 0.2rem 0.7rem 0.2rem;
	padding: 0 0.5rem 0.3rem 0.5rem;
	color: #153669;
}

h3 {
	margin: 0.3rem 0.5rem 1rem 0.5rem;
	padding: 0 0.5rem 0.5rem 0.5rem;
	color: #153669;
}

.card {
	position: relative;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #7899ca;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	margin: 0.5rem;
	padding: 0 0 1rem 0;
	width: 20rem;
	word-break: break-all;
}

.card h3 {
	color: #147283;
}

.card .btn {
	padding: 0.3rem 1rem;
}

.card:hover {
	transition: 0.3s;
	transform: scale(1.025);
}

.actions {
	text-align: right;
}

.btn {
	font: inherit;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	border-radius: 4px;
	color: white;
}

/* .btn--watch {
	position: absolute;
	right: 10.9rem;
	bottom: 0.5rem;
	background-color: green;
	border: 1px solid green;
} */

.btn--edit {
	position: absolute;
	right: 5.9rem;
	bottom: 0.5rem;
	background-color: #3461dd;
	border: 1px solid #3461dd;
}

.btn--delete {
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	background-color: rgb(228, 75, 75);
	border: 1px solid rgb(228, 75, 75);
}

/* .btn--watch:hover {
	background-color: rgb(27, 155, 27);
	border: 1px solid rgb(27, 155, 27);
} */

.btn--edit:hover {
	background-color: #5076dd;
	border-color: #5076dd;
}

.btn--delete:hover {
	background-color: rgb(226, 107, 107);
	border: 1px solid rgb(226, 107, 107);
}

.modal {
	position: fixed;
	align-self: baseline;
	margin-top: 10vh;
	z-index: 2;
	background-color: white;
	border-radius: 4px;
	padding: 0.5rem 0 0.5rem 0.7rem;
	width: 20rem;
}

.modal h2 {
	margin: 0.5rem 0 1rem;
	padding: 0;
	color: #153669;
	font-weight: bold;
}

.modal h3 {
	margin: 1rem 0 0.2rem 0;
	padding: 0;
	color: #153669;
	font-weight: bold;
}

.modal .btn {
	padding: 0.3rem 1rem;
	margin-right: 0.6rem;
	background-color: #3461dd;
	border: 1px solid #3461dd;
}

.modal .btn--alt {
	background-color: white;
}

.modal .delete {
	margin-top: 1.5rem;
}

@keyframes glowing {
	0% {
		background-color: #153669;
		box-shadow: 0 0 3px #153669;
	}
	50% {
		background-color: #2b53c2;
		box-shadow: 0 0 10px #2b53c2;
	}
	100% {
		background-color: #5076dd;
		box-shadow: 0 0 3px #5076dd;
	}
}

.modal .btn--pending {
	/* pointer-events: none; */
	animation: glowing 1300ms infinite;
}

.modal .btn:hover {
	background-color: #5076dd;
	border-color: #5076dd;
}

.modal textarea {
	width: 97%;
	height: 15vh;
	margin: 0 0 0.5rem 0;
	padding: 0.3rem 0.3rem;
	border: 1px solid #3461dd;
	border-radius: 4px;
	color: #147283;
	font-weight: bold;
	font-size: large;
}

.modal input {
	width: 97%;
	height: 5vh;
	margin: 0 0 0.5rem 0;
	padding: 0.3rem 0.3rem;
	border: 1px solid #3461dd;
	border-radius: 4px;
	color: #147283;
	font-weight: bold;
	font-size: large;
}

.modal textarea:focus {
	outline: none !important;
	border: 1px solid #3461dd;
	box-shadow: 0 0 10px #719ece;
}

.modal input:focus {
	outline: none !important;
	border: 1px solid #3461dd;
	box-shadow: 0 0 10px #719ece;
}

.btn--alt {
	background-color: transparent;
	color: #153669;
}

.btn--alt:hover {
	color: white;
	background-color: #5076dd;
}

.backdrop {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.footer {
	grid-area: footer;
	text-align: center;
	margin: 1rem 0.5rem;
}

.footer .foot--btn {
	margin: 0.4rem;
	background-color: #3461dd;
	border: 1px solid #3461dd;
}

.footer .foot--btn:hover {
	background-color: #5076dd;
	border-color: #5076dd;
}

.foot--btns {
	margin: 1rem;
}

.links {
	margin: 1rem;
}

.link {
	margin: 3rem 0.9rem 0.1rem 0.9rem;
	text-decoration: none;
	color: #0e2a55;
	font-weight: bold;
}

.link:hover {
	color: #2e60aa;
}

.link:active {
	color: #5a7fe4;
}
